html{
    box-sizing: border-box;
    font-size: 100%;
}
*,*:before,*:after{
    box-sizing: inherit;
}

body {
    background-color: #000000;
    background-image: -webkit-gradient(linear,left top,left bottom,color stop(20%,#000000),color stop(88%,#006060));
    background-image: linear-gradient( #000000 20%, #006060 88%);
    color: #ffffff;
    min-height: 100vh;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
}
.logo {
    width: 200px;
}

a {
    color: #ffffff;
    border: 2px solid #ffffff;
    display: block;
    max-width: 300px;
    margin: 0 auto 20px auto;
    padding: 15px 20px;
    text-decoration: none;
    font-size: .85rem;
    transition: all 200ms ease-in-out;
           }

  

.insta {
    background-image: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    color: #000;
    -webkit-text-stroke: thin;

}   

.twitter {
    background-color: #1D9BF0;
    color: #000;
    -webkit-text-stroke: thin;
}

.twitch {
    background-image: linear-gradient(90deg,#9146FF, #FFFFFF);
    color: #000;
    -webkit-text-stroke: thin;
}

.github {
    background-image: linear-gradient(90deg,#171515, #FFFFFF);
    color: #000;
    -webkit-text-stroke: thin;
}

.youtube {
    background-image: linear-gradient(90deg,#FF0000 , #FFFFFF, #282828);
    color: #000;
    -webkit-text-stroke: thin;
}

.spotify {
    background-image: linear-gradient(90deg,#1DB954, #191414);
    color: #000;
    -webkit-text-stroke: thin;
}

.steam {
    background-image: linear-gradient(90deg,#171a21, #2a3f5a, #1B2838);
    color: #000;
    -webkit-text-stroke: thin;
}

.discord {
    background-image: linear-gradient(90deg,#5865F2, #7289da);
    color: #000;
    -webkit-text-stroke: thin;
}

.opensea {
    background-image: linear-gradient(90deg,#FFFFFF, #2081e2);
    color: #000;
    -webkit-text-stroke: thin;
}

h2 {
    font-size: 31px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 3px;

}

<!--      __    __    ) -->
<!--      \\\  ///   ( -->
<!--   _ __\\\///_____ ) -->
<!--  [_[___>><<______# -->
<!--       ///\\\ -->
<!--      ///  \\\ -->
