body {
    font-family: "Audiowide", sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
  }

  main {
    background-color: #000000;
    background-image: linear-gradient( #006060 20%, #000000 88%);
    color: #ffffff;
    min-height: 100vh;
    text-align: center;
    font-size: 31px;
    font-family: "Audiowide", sans-serif;
    display:flex;
    flex-direction:column;
    column-count: auto;
    flex-wrap: wrap;
    transition: all 0.3s ease;
    padding: 40px;
}

nav {
    background-color: #000000;
    background-image: -webkit-gradient(linear,left top,left bottom,color stop(20%,#000000),color stop(88%,#006060));
    background-image: linear-gradient( #000000 20%, #006060 88%);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 20px;
    font-family: 'Bungee', cursive;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    display: block;
    margin: auto;
  }

a.index {
    background-image: linear-gradient(#006060, #000000);
    color: #fff;
    box-sizing: content-box;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #000;
    transition: 0.5s;
    align-self: start;
    align-items: center;
    text-align: center;
    justify-content: center;
}

a.about {
    background-image: linear-gradient(#006060, #000000);
    color: #fff;
    box-sizing: content-box;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #000;
    transition: 0.5s;
    align-self: start;
    align-items: center;
    text-align: center;
    justify-content: center;
}

a.contact {
    background-image: linear-gradient(#006060, #000000);
    color: #fff;
    box-sizing: content-box;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #000;
    transition: 0.5s;
    align-self: start;
    align-items: center;
    text-align: center;
    justify-content: center;
}

a.projects {
  background-image: linear-gradient(#006060, #000000);
  color: #fff;
  box-sizing: content-box;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #000;
  transition: 0.5s;
  align-self: start;
  align-items: center;
  text-align: center;
  justify-content: center;
}

a:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    }

a:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);

}

footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
    
  }